* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(251, 250, 249);
}

header {
    width: 100%;
    background: white;
}

#header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

code {
    background: rgb(255, 251, 251);
}

.bsDrop>a>li {
    background: cyan;
    font-family: 'Nunito', sans-serif;
    /* left:0 !important; */
    margin-left: -10px !important;
    /* padding:30px !important; */
    font-size: 2rem;
}

.main-nav {
    text-decoration: none;
    list-style: none;
}

.main-nav>li {
    display: inline;
}

section {
    background: #FFF5EE;
    height: 500px;
    width: 100%;
    margin: 50px auto;
    padding: 50px;
    border: 1px solid rgb(242, 228, 228);
    box-shadow: 1px 2px 2px rgba(255, 255, 255, 0.908);
}

/* GOOGLE FONTS
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
 */

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    margin-top: 15px;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

p, label, fieldset, #submit {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

li {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-left: 30px;
}

.myForm {
    margin-top: 20px;
}

#userText {
    width: 500px;
}

#outputText {
    text-align: center;
}